<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">
    <insert id="signUpMember" parameterType="MemberDTO.SignUp">
        insert into members (name, password, email, address, address_detail, authority, point)
        values (#{name}, #{password}, #{email}, #{address}, #{addressDetail}, 'NORMAL', 100)
    </insert>
</mapper>   