@font-face {
    font-family: 'KFont';
    src: url("./images/font/KakaoOTFBold.otf") format('opentype');
}

body {
    font-family: 'KFont';
}

.user-content-body {
    font-family: Arial;
}

.is-rounded-custom {
    border-radius: 12px;
}

.login-kakao-btn {
    border-width: 0;
    padding: 11px 12px;
    border-radius: 8px;
    background-color: #FEE500;
    font-stretch: normal;
    font-style: normal;
    color: #191919;
}

.kakao-font {
    background-color: #FEE500;
    font-weight: bold;
    border-radius: 4px;
}

.login-kakao-btn:hover {
    background-color: #E5D303;
}

.my-profile-image {
    height: inherit;
}

.SS {
     background-color: #00f7ff;
    font-weight: bold;
}
.SB {
    background-color: greenyellow;
    font-weight: bold;
}

.is-link-custom {
    color: #8912d7;
}

.is-link-custom:hover {
    color: #900c0c;
    cursor: pointer;
}